<div class="admin-page-title">
  <div class="edit-button" (click)="cancelClicked.emit()">
    <a md-raised-button class="default">{{ 'SHARED.BUTTONS.BACK' | translate }}</a>
  </div>
  <div class="content">
    <app-title *ngIf="isEdit" title="ADMIN.SHARED.EDIT" subtitle="ADMIN.SHARED.CLIENTUSER"></app-title>
    <app-title *ngIf="isCreate" title="ADMIN.SHARED.CREATE" subtitle="ADMIN.SHARED.CLIENTUSER"></app-title>
    <app-title *ngIf="isInvitation" title="ADMIN.SHARED.INVITE" subtitle="ADMIN.SHARED.CLIENTUSER"></app-title>
  </div>
</div>

<div class="button-container row" *ngIf="isEdit">
  <div class="col-12 col-md-12 col-lg-9">
    <div class="buttons" @easeInOut *ngIf="authorization.adminRoles.resetPassword">
      <a md-button class="default" *ngIf="authorization.adminRoles.resetPassword" [disabled]="disabled" (click)="!disabled && resetPassword.emit(user.id)">
        <i class="fa fa-plus-square-o" aria-hidden="true" *ngIf="!resettingPassword"></i>
        <i class="fa fa-spinner fa-pulse fa-fw" *ngIf="resettingPassword"></i>
        &nbsp;{{ "ADMIN.SHARED.RESET_PASSWORD" | translate }}
      </a>
    </div>
  </div>
</div>

<div class="filter-container row">
  <div class="filter-container-inner col-12 col-md-12 col-lg-9">
    <form class="userForm" [formGroup]="userForm">

      <div class="row align_top">
        <div class="col-lg-3 col-md-2 col-sm-12 form-label">
          <app-label translationCode="ADMIN.EPS_USERS.EMAIL"></app-label>
        </div>
        <div class="col-lg-9 col-md-6 col-sm-12">
          <span *ngIf="isEdit">{{user.email}}</span>
          <app-text-input *ngIf="!isEdit" [readonly]="isView" formControlName="email"></app-text-input>
          <i class="fa fa-clipboard"
            ngxClipboard [cbContent]="user.email"
            (click)="copyToClipboard()"
            *ngIf="isEdit || isView"></i>
          <div class="mat-tooltip" *ngIf="cbFeedback">{{ "ADMIN.SHARED.COPIED" | translate }}</div>
        </div>
      </div>

      <div class="row align_top" *ngIf="!isCreate && !!user.alternateEmail">
        <div class="col-lg-3 col-md-2 col-sm-12">
          <app-label translationCode="ADMIN.EPS_USERS.ALTERNATE_EMAIL"></app-label>
        </div>
        <div class="col-lg-9 col-md-6 col-sm-12">
          <app-text-input [readonly]="isView" formControlName="alternateEmail"></app-text-input>
        </div>
      </div>

      <div class="row align_top">
        <div class="col-lg-3 col-md-2 col-sm-12 form-label">
          <app-label translationCode="ADMIN.EPS_USERS.NAME"></app-label>
        </div>
        <div class="col-lg-9 col-md-6 col-sm-12">
          <app-text-input [readonly]="isView" formControlName="firstName"></app-text-input>
        </div>
      </div>

      <div class="row align_top">
        <div class="col-lg-3 col-md-2 col-sm-12 form-label">
          <app-label translationCode="ADMIN.EPS_USERS.LAST_NAME"></app-label>
        </div>
        <div class="col-lg-9 col-md-6 col-sm-12">
          <app-text-input [readonly]="isView" formControlName="lastName"></app-text-input>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-3 col-md-2 col-sm-12 form-label">
          <app-label translationCode="ADMIN.CLIENT_USERS.LANGUAGE"></app-label>
        </div>
        <div class="col-lg-9 col-md-6 col-sm-12">
          <app-select [elements]="adminDefinitions.language" [readonly]="isView" formControlName="language" [allowBlank]="false"></app-select>
        </div>
      </div>

      <div class="row align_top">
        <div class="col-lg-3 col-md-2 col-sm-12 form-label">
          <app-label translationCode="ADMIN.CLIENT_USERS.CAN_USE_EMAIL_ACTORS"></app-label>
        </div>
        <div class="col-lg-9 col-md-6 col-sm-12">
          <app-checkbox [readonly]="isView" formControlName="useEmailActors"></app-checkbox>
        </div>
      </div>

      <div class="row align_top">
        <div class="col-lg-3 col-md-2 col-sm-12 form-label">
          <app-label translationCode="ADMIN.CLIENT_USERS.IS_TRANSPORTER"></app-label>
        </div>
        <div class="col-lg-9 col-md-6 col-sm-12">
          <app-checkbox [readonly]="isView" formControlName="isTransporter"></app-checkbox>
        </div>
      </div>

      <div class="row align_top">
        <div class="col-lg-3 col-md-2 col-sm-12 form-label">
          <app-label translationCode="ADMIN.CLIENT_USERS.ACTIVE"></app-label>
        </div>
        <div class="col-lg-9 col-md-6 col-sm-12">
          <app-checkbox [readonly]="isView" formControlName="isActive"></app-checkbox>
        </div>
      </div>

      <div class="row align_top">
        <div class="col-lg-3 col-md-2 col-sm-12 form-label">
          <app-label translationCode="ADMIN.CLIENT_USERS.IS_DELAYED"></app-label>
        </div>
        <div class="col-lg-9 col-md-6 col-sm-12">
          <app-checkbox formControlName="isDelayed" [readonly]="isView || (isEdit && !user.isDelayed)"></app-checkbox>
        </div>
      </div>

      <div class="hr-accent"></div>

      <div class="row">
        <div class="col-12">
          <app-label translationCode="ADMIN.EPS_USERS.CUSTOMER_ROLE_LIST"></app-label>
        </div>
      </div>

      <div class="row">
        <div class="col-12">

          <app-customer-role-list
            [salesOrganisations]="adminDefinitions.salesOrganisation"
            [soldTos]="soldTosOfSalesOrganisation"
            [shipTos]="shipTosOfSoldTo"
            [roles]="adminDefinitions.role"
            [loading]="loading"
            [maxRoles]="isCreate ? 1 : null"
            [readonly]="isView"
            (salesOrganisationIdSelected)="salesOrganisationIdSelected.emit($event)"
            (soldToIdSelected)="soldToIdSelected.emit($event)"
            (isEditing)="isEditing=$event"
            formControlName="customers"
          ></app-customer-role-list>

        </div>
      </div>

      <div class="hr-thick"></div>

      <div class="buttons" *ngIf="!isView">
        <a class="btn-cancel hand" (click)="cancelClicked.emit()">{{ 'SHARED.BUTTONS.CANCEL' | translate }}</a>
        <a md-raised-button class="primary btn-next" [disabled]="!this.userForm.valid || buttonIsDisabled()" (click)="_updateUser(userForm.valid)"
           *ngIf="isEdit">
          <i class="fa fa-check" aria-hidden="true" *ngIf="!saving"></i>
          <i class="fa fa-spinner fa-pulse fa-fw" *ngIf="saving"></i>
          <span>{{ 'ADMIN.SHARED.UPDATE' | translate }}</span>
        </a>
        <a md-raised-button class="primary btn-next" [disabled]="!this.userForm.valid || buttonIsDisabled()" (click)="_createUser(userForm.valid)"
           *ngIf="isCreate">
          <i class="fa fa-check" aria-hidden="true" *ngIf="!saving"></i>
          <i class="fa fa-spinner fa-pulse fa-fw" *ngIf="saving"></i>
          <span>{{ 'ADMIN.SHARED.CREATE' | translate }}</span>
        </a>
        <a md-raised-button class="primary btn-next" [disabled]="!this.userForm.valid || buttonIsDisabled()" (click)="_inviteUser(userForm.valid)"
           *ngIf="isInvitation">
          <i class="fa fa-check" aria-hidden="true" *ngIf="!saving"></i>
          <i class="fa fa-spinner fa-pulse fa-fw" *ngIf="saving"></i>
          <span>{{ 'ADMIN.SHARED.INVITE' | translate }}</span>
        </a>
      </div>
    </form>
  </div>
</div>
