<div class="filter-container">
  <div class="row">
    <div class="filter-window col-12">
      <div class="row">
        <div class="title-header col-12">
          <i class="fa fa-filter" aria-hidden="true"></i>
          <span class="title">{{ 'FLOWS.FILTER.TITLE' | translate }}</span>
          <span class="subtitle">{{ 'FLOWS.FILTER.SUBTITLE' | translate }}</span>
        </div>
      </div>

      <div class="row">
        <div class="form-container col-12">
          <form [formGroup]="filterForm">
            <div class="row cell">
              <div class="form-group row col-12 col-md-6">
                <app-label class="col-12 col-md-4" translationCode="FLOWS.FILTER.LABELS.FLOW_TYPE"></app-label>
                <app-autocomplete2 class="col-12 col-md-8" [elements]="filterValues.orderTypes" formControlName="flowTypes" [focus]="true" [multiple]="true"></app-autocomplete2>
              </div>
              <div class="form-group row col-12 col-md-6">
                <app-label class="col-12 col-md-4" translationCode="FLOWS.FILTER.LABELS.FLOW_DATE"></app-label>
                <app-date-input class="col-12 col-md-4" formControlName='florderDateFrom' [datePattern]="'SHARED.DATE_FORMATS.DAY' | translate"></app-date-input>
                <app-date-input class="col-12 col-md-4" formControlName='florderDateTo' [datePattern]="'SHARED.DATE_FORMATS.DAY' | translate"></app-date-input>
              </div>
            </div>

            <div class="row cell">
              <div class="form-group row col-12 col-md-6">
                <app-label class="col-12 col-md-4" translationCode="ORDERS.FILTER.LABELS.FROM"></app-label>
                <app-autocomplete2
                  class="col-12 col-md-8"
                  [elements]="filterValues.froms"
                  [(error)]="fromError"
                  formControlName="froms"
                  [multiple]="true"
                ></app-autocomplete2>
              </div>
              <div class="form-group row col-12 col-md-6">
                <app-label class="col-12 col-md-4" translationCode="ORDERS.FILTER.LABELS.RECEIVER_REFERENCE_NUMBER"></app-label>
                <app-text-input class="col-12 col-md-8" formControlName="customerReferenceNumber"></app-text-input>
              </div>
            </div>

            <div @growInOut class="row" *ngIf="fromError">
              <div class="form-group row col-6 col-md-2">
              </div>
              <div class="form-group col-12 col-md-4 error-message">
                {{fromError}}
              </div>
            </div>

            <div class="row cell">
              <div class="form-group row col-12 col-md-6">
                <app-label class="col-12 col-md-4" translationCode="ORDERS.FILTER.LABELS.TO"></app-label>
                <app-autocomplete2
                  class="col-12 col-md-8"
                  [elements]="filterValues.tos"
                  [(error)]="toError"
                  formControlName="tos"
                  [multiple]="true"
                ></app-autocomplete2>
              </div>
              <div class="form-group row col-12 col-md-6">
                <app-label class="col-12 col-md-4" translationCode="ORDERS.FILTER.LABELS.SENDER_REFERENCE"></app-label>
                <app-text-input class="col-12 col-md-8" formControlName="senderReferenceNumber"></app-text-input>
              </div>
            </div>

            <div @growInOut class="row" *ngIf="toError">
              <div class="form-group row col-6 col-md-2">
              </div>
              <div class="form-group col-12 col-md-4 error-message">
                {{toError}}
              </div>
            </div>

            <div class="row cell">
              <div class="form-group row col-12 col-md-6">
                <app-label class="col-12 col-md-4" translationCode="ORDERS.FILTER.LABELS.SHIPTO"></app-label>
                <app-autocomplete2 class="col-12 col-md-8" [elements]="shipTos" formControlName="shipTos" [multiple]="true"></app-autocomplete2>
              </div>
              <div class="form-group row col-12 col-md-6">
                <app-label class="col-12 col-md-4" translationCode="FLOWS.FILTER.LABELS.PACKING_ID"></app-label>
                <app-autocomplete2 class="col-12 col-md-8" [elements]="filterValues.packings" formControlName="packingIds" [multiple]="true"></app-autocomplete2>
              </div>
            </div>

            <div class="row cell">
              <div class="form-group row col-12 col-md-6">
                <app-label class="col-12 col-md-4" translationCode="ORDERS.FILTER.LABELS.ETM_DOCUMENT_NUMBER"></app-label>
                <app-text-input class="col-12 col-md-8" formControlName="etmDocumentNumber"></app-text-input>
              </div>
              <div class="form-group row col-12 col-md-6">
                <app-label class="col-12 col-md-4" translationCode="ORDERS.FILTER.LABELS.SALES_ORDER_NUMBER"></app-label>
                <app-text-input  class="col-12 col-md-8" formControlName="salesOrderNumber"></app-text-input>
              </div>
            </div>

            <div class="row cell">
              <div class="form-group row col-12 col-md-6">
                <app-label class="col-12 col-md-4" translationCode="FLOWS.FILTER.LABELS.STATUS"></app-label>
                <app-autocomplete2 class="col-12 col-md-8" [elements]="definitions.flow.status" formControlName="flowStatuses" [focus]="true" [multiple]="true"></app-autocomplete2>
              </div>
            </div>

            <span *ngIf="showAdvanced">
              <div class="row cell">
                <div class="form-group row col-12 col-md-6">
                  <app-label class="col-12 col-md-4" translationCode="FLOWS.FILTER.LABELS.HANDSHAKE_DATE"></app-label>
                  <app-date-input class="col-12 col-md-4" formControlName='handshakeDateFrom' [datePattern]="'SHARED.DATE_FORMATS.DAY' | translate"></app-date-input>
                  <app-date-input class="col-12 col-md-4" formControlName='handshakeDateTo' [datePattern]="'SHARED.DATE_FORMATS.DAY' | translate"></app-date-input>
                </div>
                <div class="form-group row col-12 col-md-6">
                  <div class="col-12 row">
                    <app-label class="col-12 col-md-4" translationCode="FLOWS.FILTER.LABELS.CLEARING"></app-label>
                    <app-checkbox class="col-12 col-md-4" label="{{ 'SHARED.BUTTONS.YES' | translate }}" formControlName="clearingYes"></app-checkbox>
                    <app-checkbox class="col-12 col-md-4" label="{{ 'SHARED.BUTTONS.NO' | translate }}" formControlName="clearingNo"></app-checkbox>
                  </div>
                </div>
              </div>
            </span>

            <div class="end-xs">
              <a md-button (click)="showAdvanced=true" *ngIf="!showAdvanced" [disabled]="isLoading">
                {{ 'ORDERS.FILTER.BUTTONS.MORE_SEARCH_OPTIONS'| translate }}
              </a>
              <a md-button (click)="showAdvanced=false" *ngIf="showAdvanced" [disabled]="isLoading">
                {{ 'ORDERS.FILTER.BUTTONS.LESS_SEARCH_OPTIONS' | translate }}
              </a>
              <a md-raised-button class="default" button-click-on-enter (click)="filterClicked()" [disabled]="filterForm.invalid || isLoading">
                <i class="fa fa-filter" aria-hidden="true" *ngIf="!isLoading"></i>
                <i class="fa fa-spinner fa-pulse fa-fw" *ngIf="isLoading"></i>
                {{ 'FLOWS.FILTER.BUTTONS.FILTER_TEXT' | translate }}
              </a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
